<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Screecher app</title>
</head>
    <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
         <a href="/">Main Page</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>